{"openapi":"3.1.0","info":{"title":"Ploid Public API","version":"2.0.0","description":"Ploid's focused agent-native people API. Start with 50 ACU for 30 days after creating an account."},"servers":[{"url":"https://api.ploid.com"}],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"paths":{"/v1/openapi.json":{"get":{"operationId":"getOpenApiDocument","summary":"Download the public OpenAPI document","description":"Returns this OpenAPI 3.1 contract. No authentication is required.","tags":["Discovery"],"security":[],"responses":{"200":{"description":"Public OpenAPI 3.1 document","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}}}}},"/v1/harness/context":{"post":{"operationId":"getHarnessContext","summary":"Load canonical Ploid memory for another agent runtime","description":"Returns the calling user's bounded Ploid user, company, and relevant memory context without running a model. Requires agent:chat.","tags":["Harness"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"query":{"type":"string","maxLength":20000}}}}}},"responses":{"200":{"description":"Canonical context block.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["data"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["context"],"properties":{"context":{"type":"string","maxLength":32000}}}}}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"The credential lacks the required scope, its owning user is inactive, or this workspace does not include the requested API capability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"413":{"description":"Request body exceeds 128 KB.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"Strict validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}}}}},"/v1/harness/chat/completions":{"post":{"operationId":"createHarnessChatCompletion","summary":"Run a bounded tool-calling model request","description":"OpenAI-compatible chat-completion transport with Ploid-owned model routing. Requests are capped at 128 KB, 100 messages, 32 tools, 4,096 output tokens, a 90-second total upstream lifetime, and a 1 MB response. stream=true returns SSE and must omit Idempotency-Key. Requires agent:chat.","tags":["Harness"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"description":"Recommended on non-streaming POSTs. Reusing the same key and authenticated request within 24 hours replays the original response and bills once. Live SSE responses reject this header; use a durable async run for replayable work.","schema":{"type":"string","maxLength":255}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HarnessChatCompletionRequest"}}}},"responses":{"200":{"description":"Completed JSON response or terminally metered SSE stream.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HarnessChatCompletionResponse"}},"text/event-stream":{"schema":{"type":"string","description":"Sanitized OpenAI-compatible SSE ending in data: [DONE]."}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"The credential lacks the required scope, its owning user is inactive, or this workspace does not include the requested API capability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Idempotency-Key is in progress or was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"413":{"description":"Request body exceeds 128 KB.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"Strict validation failed, or Idempotency-Key was used with a live stream.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"502":{"description":"The routed model returned an invalid response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"503":{"description":"Harness is unavailable or exceeded its total upstream deadline.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/search":{"post":{"operationId":"syncPeopleSearch","summary":"Search people synchronously","description":"Retrieve up to 150 people inline per request; async:true or a larger num_results starts a background People Set instead and returns 202 with set_id, items_url and events_url. instant and fast return indexed candidates. auto and deep research the complete query and explicit filters before returning matches with verification references; uncertain and rejected candidates are excluded from results, grounding and billing. Auto/deep compile the query, verify candidates, and run one bounded web recovery pass when too few match. Each verification pass permits up to 30 seconds for auto or 45 seconds for deep; recovery discovery permits 45 or 60 seconds respectively. A partial status means the requested count was not filled or verification hit its deadline. Use Sets for durable research of large result sets. Verification is evidence-based model assessment, separate from identity verification. Requires people:search.","tags":["Search"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"description":"Recommended on non-streaming POSTs. Reusing the same key and authenticated request within 24 hours replays the original response and bills once. Live SSE responses reject this header; use a durable async run for replayable work.","schema":{"type":"string","maxLength":255}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncSearchRequest"}}}},"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncSearchResponse"}}}},"202":{"description":"Async search started as a People Set; read rows from items_url or follow events_url.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchHandoffResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"Public-API access is inactive, the workspace has insufficient ACU or API-key budget, or an async count requires sales.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"The credential lacks the required scope, its owning user is inactive, or this workspace does not include the requested API capability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Idempotency-Key is in progress or was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"Search backend unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/resolve":{"post":{"operationId":"resolvePerson","summary":"Identify one person","description":"Identify one person from a full name plus at least one clue (company name or domain, role, location, address, work or personal email, or phone) by fusing the people index with live web results. Returns the permanent person_id accepted by /v1/person and /v1/enrich, so a deep profile is only bought for the right person. Costs 2 ACU when a person is found; no match is free. A match is model-assessed, not identity-verified. Requires people:search.","tags":["Search"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"description":"Recommended on non-streaming POSTs. Reusing the same key and authenticated request within 24 hours replays the original response and bills once. Live SSE responses reject this header; use a durable async run for replayable work.","schema":{"type":"string","maxLength":255}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveRequest"}}}},"responses":{"200":{"description":"Resolution result; found is false when no confident match exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"Public-API access is inactive, or the workspace has insufficient ACU or API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"The credential lacks the required scope, its owning user is inactive, or this workspace does not include the requested API capability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Idempotency-Key is in progress or was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}}}}},"/v1/person":{"post":{"operationId":"getPerson","summary":"Get an evidence-backed person record","description":"Resolve one reviewed deep person profile. An eligible cached profile returns 200, including stale data with a queued refresh. Unseen people and snapshots requiring new review return a durable 202 run. Fresh research can take minutes; poll the returned run ID. A completed uncertain identity returns data:null with meta.resolution=unsure and reason ambiguous_identity or insufficient_evidence. The first successful profile costs exactly 25 ACU on every plan; organization-wide rereads are free for 90 days. Failed, uncertain, and not-found runs are free. Current role fields, age, and social audience/activity metrics are not populated by the current reviewed projection.","tags":["People"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"description":"Recommended on POST. Reusing the same key replays the same run and bills once.","schema":{"type":"string","maxLength":255}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonRequest"}}}},"responses":{"200":{"description":"Cached reviewed person record (possibly stale with refresh queued) or a free not-found result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonResponse"}}}},"202":{"description":"Deep research was queued. Poll the returned URL.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonRunResponse"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The fixed 25 ACU price exceeds available ACU or API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing people:enrich scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Idempotency-Key conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"Strict request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"503":{"description":"The durable queue, person identity, or compatible stored profile is unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/person/runs/{id}":{"get":{"operationId":"getPersonRun","summary":"Poll a deep person run","tags":["People"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Queued/running state, a completed reviewed person, a not-found result, or an uncharged unsure outcome with suggested clues.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PersonRunResponse"},{"$ref":"#/components/schemas/PersonResponse"}]}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing people:enrich scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"404":{"description":"Run not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Run was cancelled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"410":{"description":"Run payload expired after seven days.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"503":{"description":"Deep research failed; no ACU was charged.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}},"delete":{"operationId":"cancelPersonRun","summary":"Cancel a deep person run","tags":["People"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Run cancelled without charge.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonRunResponse"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing people:enrich scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"404":{"description":"Run not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Run is no longer active.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"410":{"description":"Run payload expired after seven days.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/monitors/compile":{"post":{"operationId":"compileMonitor","summary":"Preview a monitor plan and output schema","description":"Compiles a natural-language query into targets, events and relevance criteria, and derives an output schema when `output.type` is `object` without a schema. Creates nothing. Compile and create cost 1 ACU. Each run costs 1 ACU per target fetched plus 1 ACU per emitted item. Baseline runs emit nothing.","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorCompileRequest"}}}},"responses":{"200":{"description":"Compiled plan","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/MonitorCompilation"},"meta":{"type":"object","additionalProperties":true}}}}}},"402":{"description":"Insufficient ACU","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/monitors":{"post":{"operationId":"createMonitor","summary":"Create a social monitor","description":"Creates a scheduled monitor over LinkedIn, X, Instagram and TikTok and starts a silent baseline run. `meta.baseline_run_id` identifies that run; `meta.unresolved` lists mentions that could not be turned into a target. Compile and create cost 1 ACU. Each run costs 1 ACU per target fetched plus 1 ACU per emitted item. Baseline runs emit nothing.","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorCreateRequest"}}}},"responses":{"201":{"description":"Monitor created","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/Monitor"},"meta":{"type":"object","additionalProperties":true}}}}}},"400":{"description":"Invalid webhook URL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"Insufficient ACU or API-key budget","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"The workspace already has 50 monitors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"Validation failed or no targets resolved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}},"get":{"operationId":"listMonitors","summary":"List monitors","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"responses":{"200":{"description":"Monitors, newest first (up to 100)","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Monitor"}},"meta":{"type":"object","additionalProperties":true}}}}}}}}},"/v1/monitors/{id}":{"get":{"operationId":"getMonitor","summary":"Get a monitor","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Monitor","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/Monitor"},"meta":{"type":"object","additionalProperties":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}},"patch":{"operationId":"updateMonitor","summary":"Update, pause or resume a monitor","description":"Changing `query` recompiles the plan; passing `plan` replaces the targets. Either starts a new baseline run.","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorUpdateRequest"}}}},"responses":{"200":{"description":"Updated monitor","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/Monitor"},"meta":{"type":"object","additionalProperties":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Monitor deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}},"delete":{"operationId":"deleteMonitor","summary":"Delete (disable) a monitor","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Monitor disabled"},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/monitors/{id}/run":{"post":{"operationId":"runMonitor","summary":"Trigger a run now","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Run queued","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/MonitorRun"},"meta":{"type":"object","additionalProperties":true}}}}}},"402":{"description":"Insufficient ACU or API-key budget","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"A run is already in progress, or the monitor is deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/monitors/{id}/runs":{"get":{"operationId":"listMonitorRuns","summary":"List runs","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"description":"`next_cursor` from the previous page.","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":50}}],"responses":{"200":{"description":"Runs, newest first","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MonitorRun"}},"meta":{"type":"object","additionalProperties":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/monitors/{id}/runs/{runId}":{"get":{"operationId":"getMonitorRun","summary":"Get a run","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"runId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Run","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/MonitorRun"},"meta":{"type":"object","additionalProperties":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/monitors/{id}/items":{"get":{"operationId":"listMonitorItems","summary":"List emitted items","tags":["Monitors"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"run_id","in":"query","required":false,"schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"description":"`next_cursor` from the previous page.","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":50}}],"responses":{"200":{"description":"Items, newest first","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MonitorItem"}},"meta":{"type":"object","additionalProperties":true}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/socials":{"post":{"operationId":"enrichSocialProfile","summary":"Enrich one public social profile","description":"Resolve a public profile from a supported platform handle or URL. Requires the people:enrich scope.","tags":["Social"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"description":"Recommended on non-streaming POSTs. Reusing the same key and authenticated request within 24 hours replays the original response and bills once. Live SSE responses reject this header; use a durable async run for replayable work.","schema":{"type":"string","maxLength":255}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialsRequest"}}}},"responses":{"200":{"description":"Resolved public social profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialsResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"Public-API access is inactive, or the workspace has insufficient ACU or API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing people:enrich scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"404":{"description":"Profile not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Idempotency-Key is in progress or was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"Social enrichment temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/linkedin/profile":{"get":{"operationId":"getLinkedInProfile","summary":"Fetch a LinkedIn profile","description":"Returns a LinkedIn profile by URL, vanity slug, or @handle. Requires the linkedin:read scope.","tags":["LinkedIn"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"url","in":"query","required":false,"schema":{"type":"string"},"description":"LinkedIn profile URL, slug, or @handle."},{"name":"identifier","in":"query","required":false,"schema":{"type":"string"},"description":"Alias for `url`."}],"responses":{"200":{"description":"LinkedIn profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInProfileResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing linkedin:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"404":{"description":"Profile not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"LinkedIn data source unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/linkedin/search":{"post":{"operationId":"searchLinkedInPeople","summary":"Search LinkedIn people","description":"Structured LinkedIn people search by keywords, location, title, company, and school. Requires the linkedin:read scope.","tags":["LinkedIn"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInSearchRequest"}}}},"responses":{"200":{"description":"LinkedIn search results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInSearchResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"Public-API access is inactive, or the workspace has insufficient ACU or API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing linkedin:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"LinkedIn data source unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/linkedin/posts":{"get":{"operationId":"listLinkedInPosts","summary":"List recent LinkedIn posts","description":"Returns recent posts for a LinkedIn profile. Requires the linkedin:read scope.","tags":["LinkedIn"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"identifier","in":"query","required":false,"schema":{"type":"string"},"description":"LinkedIn profile URL, slug, or @handle."},{"name":"url","in":"query","required":false,"schema":{"type":"string"},"description":"Alias for `identifier`."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":20,"default":10}}],"responses":{"200":{"description":"Recent posts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInPostsResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing linkedin:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"404":{"description":"Profile not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"LinkedIn data source unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/linkedin/profiles/comments":{"get":{"operationId":"listLinkedInProfileComments","summary":"List a profile's comments","description":"Identity-bound LinkedIn read. Requires the linkedin:read scope.","tags":["LinkedIn"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"profile","in":"query","required":false,"schema":{"type":"string"}},{"name":"profileId","in":"query","required":false,"schema":{"type":"string"}},{"name":"postedLimit","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"string"}},{"name":"paginationToken","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List a profile's comments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInReadResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing linkedin:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"LinkedIn data source unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/linkedin/companies/get":{"get":{"operationId":"getLinkedInCompany","summary":"Get a LinkedIn company","description":"Identity-bound LinkedIn read. Requires the linkedin:read scope.","tags":["LinkedIn"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"url","in":"query","required":false,"schema":{"type":"string"}},{"name":"universalName","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get a LinkedIn company","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInReadResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing linkedin:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"LinkedIn data source unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/linkedin/companies/posts":{"get":{"operationId":"listLinkedInCompanyPosts","summary":"List a company's posts","description":"Identity-bound LinkedIn read. Requires the linkedin:read scope.","tags":["LinkedIn"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"company","in":"query","required":false,"schema":{"type":"string"}},{"name":"companyId","in":"query","required":false,"schema":{"type":"string"}},{"name":"companyUniversalName","in":"query","required":false,"schema":{"type":"string"}},{"name":"postedLimit","in":"query","required":false,"schema":{"type":"string"}},{"name":"scrapePostedLimit","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"string"}},{"name":"paginationToken","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List a company's posts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInReadResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing linkedin:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"LinkedIn data source unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}}}}},"/v1/enrich":{"post":{"operationId":"enrichPerson","summary":"Enrich one person","description":"Resolve contact fields for one person using a LinkedIn URL, permanent person_id, reverse email, or name plus company domain. Request work_email, personal_email, and/or phone; every field reports found, not_found, or unavailable with confidence, source, and last_seen. Responses include explicit usage.billed and usage.not_found. The legacy lightweight LinkedIn profile contract remains supported; use /v1/person for deep public evidence. Requires the people:enrich scope.","tags":["Enrichment"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"description":"Recommended on non-streaming POSTs. Reusing the same key and authenticated request within 24 hours replays the original response and bills once. Live SSE responses reject this header; use a durable async run for replayable work.","schema":{"type":"string","maxLength":255}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichRequest"}}}},"responses":{"200":{"description":"Enrichment results, including partial failures and clean not-found results. Complete provider failure returns 503.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichResponse"}},"text/markdown":{"schema":{"type":"string"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"Public-API access is inactive, or the workspace has insufficient ACU or API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing people:enrich scope, reveal capability, or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"404":{"description":"The supplied person_id could not be resolved in the caller's identity context.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"409":{"description":"Idempotency-Key is in progress or was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"The request body, path parameters, or query parameters failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}},"503":{"description":"All requested fields are unavailable, or enrichment exceeded its deadline. Retryable with Retry-After; unsuccessful fields are not billed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}}}}},"/v1/account/credits":{"get":{"operationId":"getCredits","summary":"Get account balance and API key budget","description":"Returns the workspace ACU balance and budget state for the API key used on this request. Requires account:read.","tags":["Account"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"responses":{"200":{"description":"Account credit and API-key budget summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCreditsResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing account:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}}}}},"/v1/account/usage":{"get":{"operationId":"getAccountUsage","summary":"Get account usage and active API key context","description":"Returns workspace ACU usage plus the calling key's ID, budget, and the number of active keys. Requires account:read.","tags":["Account"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"responses":{"200":{"description":"Account usage and API-key context","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountUsageResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing account:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}}}}},"/v1/account/profile":{"get":{"operationId":"getAccountProfile","summary":"Get the signed-in user's profile","description":"Requires account:read.","tags":["Account"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"responses":{"200":{"description":"WorkOS-linked Ploid profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountProfileResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"The credential lacks the required scope, its owning user is inactive, or this workspace does not include the requested API capability.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}}}},"patch":{"operationId":"updateAccountProfile","summary":"Update the signed-in user's profile","description":"Requires account:write.","tags":["Account"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountProfileUpdate"}}}},"responses":{"200":{"description":"Updated WorkOS-linked Ploid profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountProfileResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing account:write scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"422":{"description":"Invalid profile fields.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}}}}},"/v1/account/key":{"delete":{"operationId":"revokeCurrentApiKey","summary":"Revoke the API key used for this request","description":"Immediately revokes the calling API key. A successful response is the final response that key can authorize. Requires account:read.","tags":["Account"],"security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"responses":{"200":{"description":"Calling API key revoked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountKeyRevocationResponse"}}}},"401":{"description":"Missing, invalid, expired, or revoked API credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"402":{"description":"The workspace does not currently have active public-API access, or the requested operation exceeds available ACU or an API-key budget.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"403":{"description":"Missing account:read scope or public-API access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}}},"429":{"description":"The organization or API-key per-minute rate limit was exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicApiError"}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer","minimum":1}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"},"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key"}},"schemas":{"HarnessChatCompletionRequest":{"type":"object","additionalProperties":false,"required":["messages"],"properties":{"model":{"type":"string","enum":["ploid/atlas","ploid/ox"],"default":"ploid/atlas","description":"Ploid Atlas uses Luna; Ploid Ox uses Sol."},"messages":{"type":"array","minItems":1,"maxItems":100,"items":{"type":"object","additionalProperties":true}},"tools":{"type":"array","maxItems":64,"items":{"type":"object","additionalProperties":true}},"tool_choice":{"oneOf":[{"type":"string","maxLength":100},{"type":"object","additionalProperties":true}]},"parallel_tool_calls":{"type":"boolean"},"response_format":{"type":"object","additionalProperties":true},"stream":{"type":"boolean","default":false},"stream_options":{"type":"object","additionalProperties":false,"properties":{"include_usage":{"type":"boolean"}}},"temperature":{"type":"number","minimum":0,"maximum":2},"top_p":{"type":"number","minimum":0,"maximum":1},"stop":{"oneOf":[{"type":"string","maxLength":500},{"type":"array","maxItems":4,"items":{"type":"string","maxLength":500}}]},"seed":{"type":"integer"},"max_tokens":{"type":"integer","minimum":1,"maximum":4096,"description":"Requested output budget."},"max_completion_tokens":{"type":"integer","minimum":1,"maximum":4096,"description":"Requested output budget."}},"x-max-utf8-bytes":8388608},"HarnessChatCompletionResponse":{"type":"object","additionalProperties":true,"description":"OpenAI-compatible completion payload with internal model/provider routing metadata removed."},"PublicApiError":{"type":"object","additionalProperties":false,"required":["error"],"properties":{"error":{"type":"object","required":["code","message","request_id"],"properties":{"code":{"type":"string"},"message":{"type":"string"},"request_id":{"type":"string"},"http_status":{"type":"integer","minimum":400,"maximum":599,"description":"Semantic status when an error terminates a response after streaming headers opened."},"retryable":{"type":"boolean"},"unavailable_fields":{"type":"array","items":{"type":"string","enum":["work_email","personal_email","phone","profile","email"]},"description":"Requested enrichment fields that could not complete. Present when all requested fields are unavailable."},"usage":{"type":"object","additionalProperties":false,"required":["acu_used","billed","free","not_found"],"properties":{"acu_used":{"type":"number","minimum":0},"acu_remaining":{"type":"number","minimum":0},"acu_value_usd":{"type":"number","const":0.1},"billed":{"type":"array","items":{"type":"string"}},"free":{"type":"array","items":{"type":"string"}},"not_found":{"type":"array","items":{"type":"string"}}}}},"additionalProperties":true}}},"PublicResponseMeta":{"type":"object","additionalProperties":false,"required":["request_id"],"properties":{"request_id":{"type":"string"}}},"PublicCreditsResponseMeta":{"type":"object","additionalProperties":false,"required":["request_id","credits_charged"],"properties":{"request_id":{"type":"string"},"credits_charged":{"type":"number","minimum":0},"remaining_credits":{"type":"number","minimum":0},"cursor":{"type":["string","null"]},"message":{"type":"string"}}},"PersonFieldProvenance":{"type":"object","properties":{"source":{"type":"string"},"source_url":{"type":"string","format":"uri"},"first_seen":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"last_seen":{"type":"string","format":"date-time"},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["source","source_url","first_seen","last_seen","confidence"],"additionalProperties":false},"PersonRecord":{"type":"object","properties":{"person_id":{"type":"string"},"summary":{"type":"string"},"age_range":{"anyOf":[{"type":"object","properties":{"min":{"type":"integer","minimum":12,"maximum":100},"max":{"type":"integer","minimum":13,"maximum":100}},"required":["min","max"],"additionalProperties":false},{"type":"null"}]},"identity":{"type":"object","properties":{"name":{"type":"string"},"linkedin_url":{"anyOf":[{"type":"string","format":"uri"},{"type":"null"}]},"headline":{"type":["string","null"]},"company":{"type":["string","null"]},"location":{"type":["string","null"]},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["name","linkedin_url","headline","company","location","confidence"],"additionalProperties":false},"source_links":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string","format":"uri"},"categories":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["found","not_verified"]},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["title","url","categories","status","confidence"],"additionalProperties":false},"maxItems":25},"professional":{"type":"object","properties":{"current":{"type":"object","properties":{"headline":{"type":["string","null"]},"company":{"type":["string","null"]},"location":{"type":["string","null"]}},"required":["headline","company","location"],"additionalProperties":false},"history":{"type":"array","items":{"type":"object","properties":{"title":{"type":["string","null"]},"company":{"type":["string","null"]},"period":{"type":["string","null"]},"location":{"type":["string","null"]},"confidence":{"type":"number","minimum":0,"maximum":1},"timeframe":{"type":"string","enum":["historical","undated","dated"]},"evidence_statement":{"type":"string"}},"required":["title","company","period","location","confidence"],"additionalProperties":false}},"education":{"type":"array","items":{"type":"object","properties":{"school":{"type":["string","null"]},"degree":{"type":["string","null"]},"field_of_study":{"type":["string","null"]},"period":{"type":["string","null"]},"confidence":{"type":"number","minimum":0,"maximum":1},"timeframe":{"type":"string","enum":["historical","undated","dated"]},"evidence_statement":{"type":"string"}},"required":["school","degree","field_of_study","period","confidence"],"additionalProperties":false}},"skills":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]}},"required":["current","history","education","skills"],"additionalProperties":false},"presence":{"type":"object","properties":{"platforms":{"type":"array","items":{"type":"object","properties":{"timeframe":{"type":"string","enum":["historical","undated","dated"]},"evidence_statement":{"type":"string"},"source_urls":{"type":"array","items":{"type":"string","format":"uri"}},"platform":{"type":"string"},"handle":{"type":["string","null"]},"url":{"type":"string","format":"uri"},"display_name":{"type":["string","null"]},"bio":{"type":["string","null"]},"avatar_url":{"anyOf":[{"type":"string","format":"uri"},{"type":"null"}]},"followers":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"following":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"content_count":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"total_likes":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"verified":{"type":["boolean","null"]},"private":{"type":["boolean","null"]},"last_active":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"topics":{"type":"array","items":{"type":"string"}},"recent_activity":{"type":"array","items":{"type":"object","properties":{"kind":{"type":"string","enum":["post","share","article","video","repository","unknown"]},"url":{"type":"string","format":"uri"},"text":{"type":["string","null"]},"published_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"media_urls":{"type":"array","items":{"type":"string","format":"uri"}},"likes":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"stars":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"comments":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"shares":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"views":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]}},"required":["kind","url","text","published_at","media_urls","likes","stars","comments","shares","views"],"additionalProperties":false}},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["platform","handle","url","display_name","bio","avatar_url","followers","following","content_count","total_likes","verified","private","last_active","topics","recent_activity","confidence"],"additionalProperties":false}}},"required":["platforms"],"additionalProperties":false},"signals":{"type":"object","properties":{"interests":{"type":"array","items":{"type":"object","properties":{"timeframe":{"type":"string","enum":["historical","undated","dated"]},"evidence_statement":{"type":"string"},"source_urls":{"type":"array","items":{"type":"string","format":"uri"}},"interest":{"type":"string"},"strength":{"type":"number","minimum":0,"maximum":1},"evidence_count":{"type":"integer","minimum":0},"status":{"type":"string","enum":["found","not_verified"]},"source_url":{"anyOf":[{"type":"string","format":"uri"},{"type":"null"}]}},"required":["interest","strength","evidence_count","status","source_url"],"additionalProperties":false}},"activity_cadence":{"type":"null"},"affinities":{"type":"array","minItems":0,"maxItems":0,"items":{}},"coverage":{"type":"object","additionalProperties":{"type":"object","properties":{"status":{"type":"string","enum":["found","not_found","not_verified","unavailable"]},"evidenceCount":{"type":"integer","minimum":0}},"required":["status","evidenceCount"],"additionalProperties":false}}},"required":["interests","activity_cadence","affinities","coverage"],"additionalProperties":false},"provenance":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string"},"source_url":{"type":"string","format":"uri"},"first_seen":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"last_seen":{"type":"string","format":"date-time"},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["source","source_url","first_seen","last_seen","confidence"],"additionalProperties":false}}}},"required":["person_id","summary","age_range","identity","source_links","professional","presence","signals","provenance"],"additionalProperties":false},"PersonRequest":{"type":"object","properties":{"identifier":{"anyOf":[{"type":"object","properties":{"person_id":{"type":"string","minLength":1,"maxLength":500}},"required":["person_id"],"additionalProperties":false},{"type":"object","properties":{"linkedin_url":{"type":"string","format":"uri"}},"required":["linkedin_url"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"company_domain":{"type":"string","minLength":3,"maxLength":253}},"required":["name","company_domain"],"additionalProperties":false}]}},"required":["identifier"],"additionalProperties":false},"PersonResponse":{"anyOf":[{"type":"object","properties":{"data":{"anyOf":[{"type":"object","properties":{"person_id":{"type":"string"},"summary":{"type":"string"},"age_range":{"anyOf":[{"type":"object","properties":{"min":{"type":"integer","minimum":12,"maximum":100},"max":{"type":"integer","minimum":13,"maximum":100}},"required":["min","max"],"additionalProperties":false},{"type":"null"}]},"identity":{"type":"object","properties":{"name":{"type":"string"},"linkedin_url":{"anyOf":[{"type":"string","format":"uri"},{"type":"null"}]},"headline":{"type":["string","null"]},"company":{"type":["string","null"]},"location":{"type":["string","null"]},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["name","linkedin_url","headline","company","location","confidence"],"additionalProperties":false},"source_links":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string","format":"uri"},"categories":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["found","not_verified"]},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["title","url","categories","status","confidence"],"additionalProperties":false},"maxItems":25},"professional":{"type":"object","properties":{"current":{"type":"object","properties":{"headline":{"type":["string","null"]},"company":{"type":["string","null"]},"location":{"type":["string","null"]}},"required":["headline","company","location"],"additionalProperties":false},"history":{"type":"array","items":{"type":"object","properties":{"title":{"type":["string","null"]},"company":{"type":["string","null"]},"period":{"type":["string","null"]},"location":{"type":["string","null"]},"confidence":{"type":"number","minimum":0,"maximum":1},"timeframe":{"type":"string","enum":["historical","undated","dated"]},"evidence_statement":{"type":"string"}},"required":["title","company","period","location","confidence"],"additionalProperties":false}},"education":{"type":"array","items":{"type":"object","properties":{"school":{"type":["string","null"]},"degree":{"type":["string","null"]},"field_of_study":{"type":["string","null"]},"period":{"type":["string","null"]},"confidence":{"type":"number","minimum":0,"maximum":1},"timeframe":{"type":"string","enum":["historical","undated","dated"]},"evidence_statement":{"type":"string"}},"required":["school","degree","field_of_study","period","confidence"],"additionalProperties":false}},"skills":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]}},"required":["current","history","education","skills"],"additionalProperties":false},"presence":{"type":"object","properties":{"platforms":{"type":"array","items":{"type":"object","properties":{"timeframe":{"type":"string","enum":["historical","undated","dated"]},"evidence_statement":{"type":"string"},"source_urls":{"type":"array","items":{"type":"string","format":"uri"}},"platform":{"type":"string"},"handle":{"type":["string","null"]},"url":{"type":"string","format":"uri"},"display_name":{"type":["string","null"]},"bio":{"type":["string","null"]},"avatar_url":{"anyOf":[{"type":"string","format":"uri"},{"type":"null"}]},"followers":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"following":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"content_count":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"total_likes":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"verified":{"type":["boolean","null"]},"private":{"type":["boolean","null"]},"last_active":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"topics":{"type":"array","items":{"type":"string"}},"recent_activity":{"type":"array","items":{"type":"object","properties":{"kind":{"type":"string","enum":["post","share","article","video","repository","unknown"]},"url":{"type":"string","format":"uri"},"text":{"type":["string","null"]},"published_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"media_urls":{"type":"array","items":{"type":"string","format":"uri"}},"likes":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"stars":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"comments":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"shares":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"views":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]}},"required":["kind","url","text","published_at","media_urls","likes","stars","comments","shares","views"],"additionalProperties":false}},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["platform","handle","url","display_name","bio","avatar_url","followers","following","content_count","total_likes","verified","private","last_active","topics","recent_activity","confidence"],"additionalProperties":false}}},"required":["platforms"],"additionalProperties":false},"signals":{"type":"object","properties":{"interests":{"type":"array","items":{"type":"object","properties":{"timeframe":{"type":"string","enum":["historical","undated","dated"]},"evidence_statement":{"type":"string"},"source_urls":{"type":"array","items":{"type":"string","format":"uri"}},"interest":{"type":"string"},"strength":{"type":"number","minimum":0,"maximum":1},"evidence_count":{"type":"integer","minimum":0},"status":{"type":"string","enum":["found","not_verified"]},"source_url":{"anyOf":[{"type":"string","format":"uri"},{"type":"null"}]}},"required":["interest","strength","evidence_count","status","source_url"],"additionalProperties":false}},"activity_cadence":{"type":"null"},"affinities":{"type":"array","minItems":0,"maxItems":0,"items":{}},"coverage":{"type":"object","additionalProperties":{"type":"object","properties":{"status":{"type":"string","enum":["found","not_found","not_verified","unavailable"]},"evidenceCount":{"type":"integer","minimum":0}},"required":["status","evidenceCount"],"additionalProperties":false}}},"required":["interests","activity_cadence","affinities","coverage"],"additionalProperties":false},"provenance":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string"},"source_url":{"type":"string","format":"uri"},"first_seen":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"last_seen":{"type":"string","format":"date-time"},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["source","source_url","first_seen","last_seen","confidence"],"additionalProperties":false}}}},"required":["person_id","summary","age_range","identity","source_links","professional","presence","signals","provenance"],"additionalProperties":false},{"type":"null"}]},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"found":{"type":"boolean"},"stale":{"type":"boolean"},"access_expires_at":{"type":"string","format":"date-time"},"usage":{"type":"object","properties":{"acu_used":{"type":"number","minimum":0},"acu_remaining":{"type":"number","minimum":0},"acu_value_usd":{"type":"number"},"billed":{"type":"array","items":{"type":"string"}},"free":{"type":"array","items":{"type":"string"}},"not_found":{"type":"array","items":{"type":"string"}}},"required":["acu_used","billed","free","not_found"],"additionalProperties":false}},"required":["request_id","found","usage"],"additionalProperties":false}},"required":["data","meta"],"additionalProperties":false},{"type":"object","properties":{"data":{"type":"null"},"meta":{"type":"object","properties":{"resolution":{"type":"string","const":"unsure"},"reason":{"type":"string","enum":["ambiguous_identity","insufficient_evidence"]},"message":{"type":"string","minLength":1,"maxLength":500},"limitations":{"type":"array","items":{"type":"string","minLength":1,"maxLength":2000},"maxItems":32},"suggested_clues":{"type":"array","items":{"type":"string","enum":["linkedin_url","personal_website"]},"maxItems":2},"request_id":{"type":"string"},"found":{"type":"boolean","const":false},"stale":{"type":"boolean","const":false},"usage":{"type":"object","properties":{"acu_used":{"type":"number","const":0},"acu_remaining":{"type":"number","minimum":0},"acu_value_usd":{"type":"number"},"billed":{"type":"array","minItems":0,"maxItems":0,"items":{}},"free":{"type":"array","minItems":0,"maxItems":0,"items":{}},"not_found":{"type":"array","minItems":0,"maxItems":0,"items":{}}},"required":["acu_used","billed","free","not_found"],"additionalProperties":false}},"required":["resolution","reason","message","limitations","suggested_clues","request_id","found","usage"],"additionalProperties":false}},"required":["data","meta"],"additionalProperties":false}]},"PersonRunResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"run_id":{"type":"string"},"status":{"type":"string","enum":["queued","running","cancelled"]},"poll_url":{"type":"string"}},"required":["run_id","status"],"additionalProperties":false},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"usage":{"type":"object","properties":{"acu_used":{"type":"number","minimum":0},"acu_remaining":{"type":"number","minimum":0},"acu_value_usd":{"type":"number"},"billed":{"type":"array","items":{"type":"string"}},"free":{"type":"array","items":{"type":"string"}},"not_found":{"type":"array","items":{"type":"string"}}},"required":["acu_used","billed","free","not_found"],"additionalProperties":false}},"required":["request_id","usage"],"additionalProperties":false}},"required":["data","meta"],"additionalProperties":false},"SyncSearchPerson":{"type":"object","additionalProperties":false,"required":["person_id","confidence","contact_status","identity_verified","resolution_source"],"properties":{"person_id":{"type":"string","description":"Stable Ploid identity. Deep person enrichment currently requires a linked LinkedIn profile."},"name":{"type":["string","null"]},"title":{"type":["string","null"]},"company":{"type":["string","null"]},"location":{"type":["string","null"]},"linkedin_url":{"type":["string","null"]},"profile_url":{"type":"string","description":"Canonical public profile or individual biography when discovered outside LinkedIn."},"confidence":{"type":["number","null"],"minimum":0,"maximum":1,"description":"Retrieval confidence normalized to 0..1; null when the source has no confidence score."},"contact_status":{"type":"string","enum":["requires_enrichment","unavailable"],"description":"LinkedIn contact fields can be resolved through POST /v1/enrich. Results without LinkedIn report unavailable."},"identity_verified":{"type":"boolean","const":false},"resolution_source":{"type":"string","enum":["ploid_people_index","public_web"]}},"description":"Only resolved people are returned. Requested profile fields are present when selected and may be null when the people index has no value."},"SyncSearchResult":{"type":"object","additionalProperties":false,"required":["url","title","score","person"],"properties":{"url":{"type":["string","null"]},"title":{"type":["string","null"]},"score":{"type":["number","null"]},"person":{"$ref":"#/components/schemas/SyncSearchPerson"},"verification":{"type":"array","items":{"type":"object","required":["criterionId","criterion","status","reasoning","references"],"properties":{"criterionId":{"type":"string"},"criterion":{"type":"string"},"status":{"type":"string","const":"satisfied"},"reasoning":{"type":"string"},"references":{"type":"array","items":{"type":"object","required":["source","quote"],"properties":{"url":{"type":"string"},"source":{"type":"string"},"quote":{"type":"string"}}}}}}}}},"SyncSearchGroundingResult":{"type":"object","additionalProperties":false,"required":["url","title","snippet","source","observed_at","person"],"properties":{"url":{"type":"string","format":"uri"},"title":{"type":"string"},"snippet":{"type":["string","null"]},"source":{"type":"string"},"observed_at":{"type":"string","format":"date-time"},"person":{"type":"object","additionalProperties":false,"required":["name","title","company","location","linkedin_url","identity_verified","resolution_source"],"properties":{"name":{"type":"string"},"title":{"type":["string","null"]},"company":{"type":["string","null"]},"location":{"type":["string","null"]},"linkedin_url":{"type":["string","null"]},"identity_verified":{"type":"boolean","const":false},"resolution_source":{"type":"string","const":"public_web"}}}}},"SyncSearchResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["results","grounding","search_time_ms","rows_indexed","request"],"properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/SyncSearchResult"}},"grounding":{"type":"object","additionalProperties":false,"required":["status","results","source_counts","provider_outcomes","search_time_ms"],"properties":{"status":{"type":"string","enum":["not_needed","complete","partial","unavailable"]},"results":{"type":"array","items":{"$ref":"#/components/schemas/SyncSearchGroundingResult"}},"source_counts":{"type":"object","additionalProperties":{"type":"integer","minimum":0}},"provider_outcomes":{"type":"object","additionalProperties":{"type":"string","enum":["completed","failed","unconfigured"]}},"search_time_ms":{"type":"number","minimum":0}}},"search_time_ms":{"type":"number","minimum":0,"description":"Index search duration."},"total_time_ms":{"type":"number","minimum":0,"description":"Total search processing time, including planning, retrieval and verification."},"rows_indexed":{"type":"integer","minimum":0},"verification":{"type":"object","required":["status","candidates_checked","search_time_ms"],"properties":{"status":{"type":"string","enum":["complete","partial"]},"candidates_checked":{"type":"integer","minimum":0},"search_time_ms":{"type":"number","minimum":0}}},"request":{"type":"object","additionalProperties":false,"required":["query","type","category","num_results"],"properties":{"query":{"type":"string"},"type":{"type":"string","enum":["instant","fast","auto","deep"]},"category":{"type":"string","const":"people"},"num_results":{"type":"integer","minimum":1,"maximum":150},"criteria":{"type":"array","items":{"type":"string"}}}}}},"meta":{"$ref":"#/components/schemas/PublicCreditsResponseMeta"}}},"SearchHandoffResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["mode","set_id","search_id","status","criteria","pricing","set_url","items_url","events_url","request"],"properties":{"mode":{"type":"string","const":"async"},"set_id":{"type":"string"},"search_id":{"type":"string"},"status":{"type":"string","const":"running"},"criteria":{"type":"array","items":{"type":"string"},"description":"Criteria every admitted row is verified against."},"pricing":{"type":"object","additionalProperties":true,"description":"Estimate; billing settles on admitted rows."},"set_url":{"type":"string"},"items_url":{"type":"string","description":"Page admitted rows, usable while the search runs."},"events_url":{"type":"string","description":"Server-sent progress events."},"request":{"type":"object","additionalProperties":false,"required":["query","category","num_results"],"properties":{"query":{"type":"string"},"category":{"type":"string","const":"people"},"num_results":{"type":"integer","minimum":1},"criteria":{"type":"array","items":{"type":"string"}},"resolved_query":{"type":"string"},"notes":{"type":"array","items":{"type":"string"}}}}}},"meta":{"$ref":"#/components/schemas/PublicCreditsResponseMeta"}}},"ResolveRequest":{"type":"object","additionalProperties":false,"required":["name"],"properties":{"name":{"type":"string","minLength":2,"maxLength":200,"description":"Full name; a partial or misspelled surname is tolerated."},"company":{"type":"string","minLength":1,"maxLength":200,"description":"Company name or web domain, such as Acme or acme.com."},"role":{"type":"string","minLength":1,"maxLength":300,"description":"Job title or role."},"location":{"type":"string","minLength":1,"maxLength":200,"description":"City, region, or country."},"address":{"type":"string","minLength":3,"maxLength":300,"description":"Street or mailing address; it only has to fit the person's area."},"work_email":{"type":"string","format":"email","maxLength":254,"description":"Work email. Its domain identifies the employer unless it is a free mailbox provider."},"personal_email":{"type":"string","format":"email","maxLength":254},"phone":{"type":"string","maxLength":40,"pattern":"^\\+?[\\d\\s().-]+$","description":"Phone number with 7 to 15 digits, in any common format."}},"anyOf":[{"required":["company"]},{"required":["role"]},{"required":["location"]},{"required":["address"]},{"required":["work_email"]},{"required":["personal_email"]},{"required":["phone"]}]},"ResolveResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["found","person","confidence","summary","sources"],"properties":{"found":{"type":"boolean"},"person":{"oneOf":[{"type":"null"},{"type":"object","additionalProperties":false,"required":["person_id","name","headline","company","location","profiles","identity_verified"],"properties":{"person_id":{"type":"string","description":"Pass to /v1/person or /v1/enrich as identifier.person_id."},"name":{"type":"string"},"headline":{"type":["string","null"]},"company":{"type":["string","null"]},"location":{"type":["string","null"]},"profiles":{"type":"object","additionalProperties":false,"description":"Profiles found while resolving. Missing platforms are omitted; more_profiles shows how to look for more.","properties":{"linkedin":{"type":"string","format":"uri"},"github":{"type":"string","format":"uri"},"x":{"type":"string","format":"uri"}}},"identity_verified":{"type":"boolean","const":false}}}]},"confidence":{"type":"number","minimum":0,"maximum":1},"summary":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"more_profiles":{"type":"object","additionalProperties":false,"description":"Present when found. A ready-to-send /v1/person request that looks for more public profiles.","required":["message","endpoint","body","estimated_credits"],"properties":{"message":{"type":"string"},"endpoint":{"type":"string","const":"POST /v1/person"},"body":{"type":"object","required":["identifier"],"properties":{"identifier":{"type":"object","required":["person_id"],"properties":{"person_id":{"type":"string"}}}}},"estimated_credits":{"type":"integer","const":25}}}}},"meta":{"$ref":"#/components/schemas/PublicCreditsResponseMeta"}}},"SocialsResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["platform","profile"],"properties":{"platform":{"type":"string","enum":["linkedin","x","instagram","tiktok","youtube","github","reddit","facebook"]},"profile":{"type":"object","additionalProperties":true,"description":"Public profile fields vary by platform. Internal routing metadata is removed."}}},"meta":{"$ref":"#/components/schemas/PublicCreditsResponseMeta"}}},"EnrichContact":{"type":"object","additionalProperties":false,"required":["value","confidence","verification_status"],"properties":{"value":{"type":"string"},"confidence":{"type":"string","enum":["guess","strong","verified"]},"verification_status":{"type":"string","enum":["matched","verified"]}}},"EnrichFieldResult":{"type":"object","additionalProperties":false,"required":["value","status","confidence","source","last_seen"],"properties":{"value":{"type":["string","null"]},"status":{"type":"string","enum":["found","not_found","unavailable"]},"confidence":{"type":["string","null"],"enum":["guess","strong","verified",null]},"source":{"type":["string","null"],"enum":["contact_network","linked_profile","public_code","public_web",null]},"last_seen":{"type":["string","null"],"format":"date-time"}}},"EnrichLinkedInProfile":{"type":"object","additionalProperties":false,"required":["linkedin_url","name","headline","company","location","photo_url","skills","companies","schools","total_years_experience","open_to_work","follower_count","verification_status"],"properties":{"linkedin_url":{"type":"string","format":"uri"},"name":{"type":"string"},"headline":{"type":["string","null"]},"company":{"type":["string","null"]},"location":{"type":["string","null"]},"photo_url":{"type":["string","null"]},"skills":{"type":"array","items":{"type":"string"}},"companies":{"type":"array","items":{"type":"string"}},"schools":{"type":"array","items":{"type":"string"}},"total_years_experience":{"type":["number","null"],"minimum":0},"open_to_work":{"type":"boolean"},"follower_count":{"type":["number","null"],"minimum":0},"verification_status":{"type":"string","const":"refreshed"}}},"EnrichResponse":{"oneOf":[{"$ref":"#/components/schemas/EnrichLegacyResponse"},{"$ref":"#/components/schemas/EnrichContactResponse"}]},"EnrichLegacyResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"properties":{"linkedin_profile":{"oneOf":[{"$ref":"#/components/schemas/EnrichLinkedInProfile"},{"type":"null"}]},"email":{"oneOf":[{"$ref":"#/components/schemas/EnrichContact"},{"type":"null"}]},"phone":{"oneOf":[{"$ref":"#/components/schemas/EnrichContact"},{"type":"null"}]}},"description":"Only requested enrichment fields are present; an unavailable field is null."},"meta":{"type":"object","additionalProperties":false,"required":["request_id","acu_used","acu_remaining","acu_value_usd","warnings"],"properties":{"request_id":{"type":"string"},"acu_used":{"type":"number","minimum":0},"acu_remaining":{"type":["number","null"],"minimum":0},"acu_value_usd":{"type":"number","const":0.1},"warnings":{"type":"array","items":{"type":"string"}}}}}},"EnrichContactResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"properties":{"work_email":{"$ref":"#/components/schemas/EnrichFieldResult"},"personal_email":{"$ref":"#/components/schemas/EnrichFieldResult"},"phone":{"$ref":"#/components/schemas/EnrichFieldResult"}},"description":"Only requested contact fields are present."},"meta":{"type":"object","additionalProperties":false,"required":["request_id","usage","warnings"],"properties":{"request_id":{"type":"string"},"warnings":{"type":"array","items":{"type":"string"}},"usage":{"type":"object","additionalProperties":false,"required":["acu_used","acu_remaining","acu_value_usd","billed","free","not_found"],"properties":{"acu_used":{"type":"number","minimum":0},"acu_remaining":{"type":["number","null"],"minimum":0},"acu_value_usd":{"type":"number","const":0.1},"billed":{"type":"array","items":{"type":"string","enum":["work_email","personal_email","phone"]}},"free":{"type":"array","items":{"type":"string"}},"not_found":{"type":"array","items":{"type":"string","enum":["work_email","personal_email","phone"]}}}}}}}},"LinkedInProfilePosition":{"type":"object","additionalProperties":false,"required":["title","companyName","companyUrl","location","description","startsAt","endsAt","current"],"properties":{"title":{"type":["string","null"]},"companyName":{"type":["string","null"]},"companyUrl":{"type":["string","null"]},"location":{"type":["string","null"]},"description":{"type":["string","null"]},"startsAt":{"type":["string","null"]},"endsAt":{"type":["string","null"]},"current":{"type":"boolean"}}},"LinkedInProfileEducation":{"type":"object","additionalProperties":false,"required":["school","degree","field","startsAt","endsAt"],"properties":{"school":{"type":["string","null"]},"degree":{"type":["string","null"]},"field":{"type":["string","null"]},"startsAt":{"type":["string","null"]},"endsAt":{"type":["string","null"]}}},"LinkedInProfile":{"type":"object","additionalProperties":false,"required":["socialId","publicIdentifier","profileUrl","firstName","lastName","fullName","headline","summary","location","countryCode","industry","connectionDegree","followerCount","connectionCount","profilePictureUrl","coverPictureUrl","currentPosition","positions","education","isOpenToWork","isPremium"],"properties":{"socialId":{"type":["string","null"]},"publicIdentifier":{"type":["string","null"]},"profileUrl":{"type":["string","null"]},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]},"fullName":{"type":"string"},"headline":{"type":["string","null"]},"summary":{"type":["string","null"]},"location":{"type":["string","null"]},"countryCode":{"type":["string","null"]},"industry":{"type":["string","null"]},"connectionDegree":{"oneOf":[{"type":"integer","enum":[1,2,3]},{"type":"null"}]},"followerCount":{"type":["number","null"],"minimum":0},"connectionCount":{"type":["number","null"],"minimum":0},"profilePictureUrl":{"type":["string","null"]},"coverPictureUrl":{"type":["string","null"]},"currentPosition":{"oneOf":[{"$ref":"#/components/schemas/LinkedInProfilePosition"},{"type":"null"}]},"positions":{"type":"array","items":{"$ref":"#/components/schemas/LinkedInProfilePosition"}},"education":{"type":"array","items":{"$ref":"#/components/schemas/LinkedInProfileEducation"}},"isOpenToWork":{"type":"boolean"},"isPremium":{"type":"boolean"}}},"LinkedInProfileResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/LinkedInProfile"},"meta":{"$ref":"#/components/schemas/PublicCreditsResponseMeta"}}},"LinkedInSearchItem":{"type":"object","additionalProperties":false,"required":["socialId","publicIdentifier","profileUrl","fullName","headline","location","industry","profilePictureUrl","connectionDegree"],"properties":{"socialId":{"type":["string","null"]},"publicIdentifier":{"type":["string","null"]},"profileUrl":{"type":["string","null"]},"fullName":{"type":"string"},"headline":{"type":["string","null"]},"location":{"type":["string","null"]},"industry":{"type":["string","null"]},"profilePictureUrl":{"type":["string","null"]},"connectionDegree":{"oneOf":[{"type":"integer","enum":[1,2,3]},{"type":"null"}]}}},"LinkedInSearchResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["items","cursor","total"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/LinkedInSearchItem"}},"cursor":{"type":["string","null"]},"total":{"type":["integer","null"],"minimum":0}}},"meta":{"$ref":"#/components/schemas/PublicCreditsResponseMeta"}}},"LinkedInPostAuthor":{"type":"object","additionalProperties":false,"required":["socialId","name","headline","profileUrl","profilePictureUrl"],"properties":{"socialId":{"type":["string","null"]},"name":{"type":["string","null"]},"headline":{"type":["string","null"]},"profileUrl":{"type":["string","null"]},"profilePictureUrl":{"type":["string","null"]}}},"LinkedInPost":{"type":"object","additionalProperties":false,"required":["socialId","postUrl","text","publishedAt","reactionCount","commentCount","shareCount","kind","author","mediaUrl"],"properties":{"socialId":{"type":"string"},"postUrl":{"type":["string","null"]},"text":{"type":["string","null"]},"publishedAt":{"type":["string","null"]},"reactionCount":{"type":"number","minimum":0},"commentCount":{"type":"number","minimum":0},"shareCount":{"type":"number","minimum":0},"kind":{"type":"string","enum":["post","share","article","unknown"]},"author":{"$ref":"#/components/schemas/LinkedInPostAuthor"},"mediaUrl":{"type":["string","null"]}}},"LinkedInPostsResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["items","cursor"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/LinkedInPost"}},"cursor":{"type":["string","null"]}}},"meta":{"$ref":"#/components/schemas/PublicCreditsResponseMeta"}}},"LinkedInReadResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"description":"Provider-neutral LinkedIn data. Fields vary by the selected read operation and internal credentials and status fields are removed.","oneOf":[{"type":"object","additionalProperties":true},{"type":"array","items":{}},{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"null"}]},"meta":{"$ref":"#/components/schemas/PublicCreditsResponseMeta"}}},"AccountAcuSummary":{"type":"object","additionalProperties":false,"required":["included","purchased","used","available","overage"],"properties":{"included":{"type":"number"},"purchased":{"type":"number"},"used":{"type":"number"},"available":{"type":"number"},"overage":{"type":"number"}}},"AccountCreditSummary":{"type":"object","additionalProperties":false,"required":["plan","acu","acu_value_usd"],"properties":{"plan":{"type":"string","enum":["FREE","PAYG","API_PRO","STARTER","PRO","SCALE","TEAMS"]},"acu":{"$ref":"#/components/schemas/AccountAcuSummary"},"acu_value_usd":{"type":"number","const":0.1,"description":"Fixed USD value of one ACU."}}},"ApiKeyBudgetState":{"type":"object","additionalProperties":false,"required":["daily_budget_cents","monthly_budget_cents","daily_used_cents","monthly_used_cents","daily_remaining_cents","monthly_remaining_cents","daily_reset_at","monthly_reset_at"],"properties":{"daily_budget_cents":{"type":["integer","null"],"minimum":0},"monthly_budget_cents":{"type":["integer","null"],"minimum":0},"daily_used_cents":{"type":"integer","minimum":0},"monthly_used_cents":{"type":"integer","minimum":0},"daily_remaining_cents":{"type":["integer","null"],"minimum":0},"monthly_remaining_cents":{"type":["integer","null"],"minimum":0},"daily_reset_at":{"type":"string","format":"date-time"},"monthly_reset_at":{"type":"string","format":"date-time"}}},"AccountCreditsResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["plan","acu","acu_value_usd","api_key_budget"],"properties":{"plan":{"type":"string","enum":["FREE","PAYG","API_PRO","STARTER","PRO","SCALE","TEAMS"]},"acu":{"$ref":"#/components/schemas/AccountAcuSummary"},"acu_value_usd":{"type":"number","const":0.1},"api_key_budget":{"$ref":"#/components/schemas/ApiKeyBudgetState"}}},"meta":{"$ref":"#/components/schemas/PublicResponseMeta"}}},"AccountUsageResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["credits","api_key"],"properties":{"credits":{"$ref":"#/components/schemas/AccountCreditSummary"},"api_key":{"type":"object","additionalProperties":false,"required":["id","active_keys","budget"],"properties":{"id":{"type":"string"},"active_keys":{"type":"integer","minimum":1},"budget":{"$ref":"#/components/schemas/ApiKeyBudgetState"}}}}},"meta":{"$ref":"#/components/schemas/PublicResponseMeta"}}},"AccountKeyRevocationResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"type":"object","additionalProperties":false,"required":["id","revoked"],"properties":{"id":{"type":"string"},"revoked":{"type":"boolean","const":true}}},"meta":{"$ref":"#/components/schemas/PublicResponseMeta"}}},"AccountProfile":{"type":"object","additionalProperties":false,"required":["email","first_name","last_name","image_url","linkedin_url","twitter_url","github_url"],"properties":{"email":{"type":"string","format":"email"},"first_name":{"type":"string","maxLength":80},"last_name":{"type":"string","maxLength":80},"image_url":{"type":["string","null"]},"linkedin_url":{"type":["string","null"],"format":"uri"},"twitter_url":{"type":["string","null"],"format":"uri"},"github_url":{"type":["string","null"],"format":"uri"}}},"AccountProfileUpdate":{"type":"object","additionalProperties":false,"required":["first_name","last_name","image_url","linkedin_url","twitter_url","github_url"],"properties":{"first_name":{"type":"string","minLength":1,"maxLength":80},"last_name":{"type":"string","maxLength":80},"image_url":{"type":["string","null"]},"linkedin_url":{"type":["string","null"],"format":"uri"},"twitter_url":{"type":["string","null"],"format":"uri"},"github_url":{"type":["string","null"],"format":"uri"}}},"AccountProfileResponse":{"type":"object","additionalProperties":false,"required":["data","meta"],"properties":{"data":{"$ref":"#/components/schemas/AccountProfile"},"meta":{"$ref":"#/components/schemas/PublicResponseMeta"}}},"EnrichRequest":{"oneOf":[{"$ref":"#/components/schemas/EnrichLegacyRequest"},{"$ref":"#/components/schemas/EnrichContactRequest"}]},"EnrichLegacyRequest":{"type":"object","additionalProperties":false,"required":["linkedin_url"],"properties":{"linkedin_url":{"type":"string","format":"uri","pattern":"^https?://(?:[^/]+\\.)?linkedin\\.com/in/[^/?#]+/?(?:[?#].*)?$"},"first_name":{"type":"string"},"last_name":{"type":"string"},"enrichments":{"type":"array","minItems":1,"maxItems":3,"default":["profile"],"items":{"type":"string","enum":["profile","linkedin_profile","email","phone"]}},"response_format":{"type":"string","enum":["standard","markdown"],"default":"standard"}}},"EnrichContactRequest":{"type":"object","additionalProperties":false,"required":["fields"],"properties":{"linkedin_url":{"type":"string","format":"uri","pattern":"^https?://(?:[^/]+\\.)?linkedin\\.com/in/[^/?#]+/?(?:[?#].*)?$"},"person_id":{"type":"string","description":"Permanent Ploid person id."},"email":{"type":"string","format":"email","description":"Reverse contact lookup anchor."},"name":{"type":"string"},"company_domain":{"type":"string","pattern":"^(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?\\.)+[a-zA-Z]{2,63}$"},"first_name":{"type":"string"},"last_name":{"type":"string"},"fields":{"type":"array","minItems":1,"maxItems":3,"uniqueItems":true,"items":{"type":"string","enum":["work_email","personal_email","phone"]}},"response_format":{"const":"standard"}},"oneOf":[{"required":["linkedin_url"]},{"required":["person_id"]},{"required":["email"]},{"required":["name","company_domain"]}]},"SyncSearchRequest":{"type":"object","additionalProperties":false,"properties":{"query":{"type":"string","maxLength":4000,"default":"","description":"Optional semantic query. Supply this, at least one structured filter, or both."},"type":{"type":"string","enum":["instant","fast","auto","deep"],"default":"auto","description":"instant and fast return indexed candidates. auto and deep require evidence-backed matches to the complete query and filters; deep also always runs public-web grounding. Verification may return fewer results within its deadline; Sets supports durable research for larger requests."},"category":{"type":"string","enum":["people"],"default":"people"},"num_results":{"type":"integer","minimum":1,"maximum":5000,"default":10,"description":"Up to 150 return inline. Larger requests run as a background People Set (self-serve up to 500)."},"criteria":{"type":"array","maxItems":5,"default":[],"items":{"type":"string","minLength":1,"maxLength":500},"description":"Plain-English conditions every result must satisfy, such as 'Has founded a venture-backed company'. Each is researched and judged separately; results carry one verification entry per criterion and are ranked by evidence strength across all of them. Requires type auto or deep. In async searches they replace the criteria derived from the query."},"async":{"type":"boolean","description":"Run as a background People Set and return 202 with set_id. Defaults to true above 150 results; false with a larger num_results is rejected. Async searches always verify each row, so type and contents do not apply."},"webhook_url":{"type":"string","format":"uri","description":"Async searches only. Receives the Set's progress events."},"filters":{"type":"object","additionalProperties":false,"default":{},"properties":{"title":{"type":"string","minLength":1,"maxLength":200},"seniority":{"type":"string","minLength":1,"maxLength":80},"company":{"type":"string","minLength":1,"maxLength":200},"industry":{"type":"string","minLength":1,"maxLength":200},"location":{"type":"string","minLength":1,"maxLength":200}}},"contents":{"type":"object","additionalProperties":false,"default":{},"properties":{"fields":{"type":"array","default":["linkedin","title","company","location"],"items":{"type":"string","enum":["linkedin","title","company","location","name"]}}}}},"anyOf":[{"required":["query"],"properties":{"query":{"type":"string","minLength":1}}},{"required":["filters"],"properties":{"filters":{"anyOf":[{"required":["title"]},{"required":["seniority"]},{"required":["company"]},{"required":["industry"]},{"required":["location"]}]}}}]},"SocialsRequest":{"type":"object","required":["platform","identifier"],"additionalProperties":false,"properties":{"platform":{"type":"string","enum":["linkedin","x","twitter","instagram","tiktok","youtube","github","reddit","facebook"],"description":"Use x for new integrations; twitter remains a compatibility alias."},"identifier":{"type":"string","minLength":1,"maxLength":500,"description":"Handle, vanity slug, or a profile URL belonging to the selected platform."}}},"LinkedInSearchFilters":{"type":"object","additionalProperties":false,"properties":{"keywords":{"type":"string","maxLength":500},"location":{"$ref":"#/components/schemas/LinkedInSearchFilterValue"},"title":{"$ref":"#/components/schemas/LinkedInSearchFilterValue"},"currentCompany":{"$ref":"#/components/schemas/LinkedInSearchFilterValue"},"school":{"$ref":"#/components/schemas/LinkedInSearchFilterValue"}}},"LinkedInSearchFilterValue":{"oneOf":[{"type":"string","minLength":1,"maxLength":200},{"type":"array","minItems":1,"maxItems":10,"items":{"type":"string","minLength":1,"maxLength":200},"description":"Items joined with spaces must total at most 200 characters."}]},"LinkedInSearchRequest":{"type":"object","additionalProperties":false,"properties":{"filters":{"$ref":"#/components/schemas/LinkedInSearchFilters"},"limit":{"type":"integer","minimum":1,"maximum":100,"default":25},"cursor":{"type":"string","maxLength":1000,"description":"Pagination cursor from a previous response."}}},"MonitorTarget":{"type":"object","required":["platform","kind","identifier"],"properties":{"platform":{"type":"string","enum":["linkedin","x","instagram","tiktok"]}
[...]
